In [2]:
import chromadb as crd

In [31]:
client = crd.PersistentClient("examples")
collection = client.create_collection("sample_queries")

In [38]:
collection = client.get_collection("sample_queries")

In [39]:
import json

with open("example.json",'r') as f:
    # print(f.read())
    
    examples = json.load(f)

In [40]:
examples

{'example_pairs': [{'nl_query': 'Calculate the total sales per country for Motorcycles.',
   'sql_query': "SELECT COUNTRY, SUM(SALES) AS Total_Sales FROM Sales WHERE PRODUCTLINE = 'Motorcycles' GROUP BY COUNTRY ORDER BY Total_Sales DESC;"},
  {'nl_query': 'Find the average price each per quarter for the year 2003.',
   'sql_query': 'SELECT QTR_ID, AVG(PRICEEACH) AS Avg_PriceEach FROM Sales WHERE YEAR_ID = 2003 GROUP BY QTR_ID ORDER BY QTR_ID;'},
  {'nl_query': 'Find orders with sales above the average sales.',
   'sql_query': 'SELECT ORDERNUMBER, SUM(SALES) FROM Sales WHERE SALES > (SELECT AVG(SALES) FROM Sales) GROUP BY ORDERNUMBER ORDER BY SALES DESC;'},
  {'nl_query': 'Retrieve orders along with contact information for the Motorcycles product line.',
   'sql_query': "SELECT ORDERNUMBER, QUANTITYORDERED, PRICEEACH, SALES, ORDERDATE, CONTACTLASTNAME, CONTACTFIRSTNAME, PHONE, ADDRESSLINE1, CITY, STATE, POSTALCODE, COUNTRY FROM Sales WHERE PRODUCTLINE = 'Motorcycles' ORDER BY ORDERDATE;"},
  {'nl_query': 'Find the most expensive order for each customer.',
   'sql_query': 'WITH CustomerOrders AS (SELECT CONTACTLASTNAME, CONTACTFIRSTNAME, ORDERNUMBER, SALES, ROW_NUMBER() OVER (PARTITION BY CONTACTLASTNAME, CONTACTFIRSTNAME ORDER BY SALES DESC) AS RowNum FROM Sales) SELECT CONTACTLASTNAME, CONTACTFIRSTNAME, ORDERNUMBER, SALES FROM CustomerOrders WHERE RowNum = 1 ORDER BY SALES DESC;'},
  {'nl_query': 'Calculate the total quantity ordered by city.',
   'sql_query': 'SELECT CITY, SUM(QUANTITYORDERED) AS Total_Quantity FROM Sales GROUP BY CITY ORDER BY Total_Quantity DESC;'},
  {'nl_query': 'Find orders placed between May 1, 2003, and August 31, 2003.',
   'sql_query': "SELECT ORDERNUMBER, QUANTITYORDERED, PRICEEACH, SALES, ORDERDATE, CONTACTLASTNAME, CONTACTFIRSTNAME FROM Sales WHERE ORDERDATE BETWEEN '2003-05-01' AND '2003-08-31' ORDER BY ORDERDATE;"}]}

In [41]:
collection.add(
    ids=[str(i) for i in range(0, 7)],
    documents=[i['nl_query'] for i in examples['example_pairs']],
    # metadatas=[i['sql_query'] for i in examples['example_pairs']]
    
)

Add of existing embedding ID: 0
Add of existing embedding ID: 1
Add of existing embedding ID: 2
Add of existing embedding ID: 3
Add of existing embedding ID: 4
Add of existing embedding ID: 5
Add of existing embedding ID: 6
Insert of existing embedding ID: 0
Insert of existing embedding ID: 1
Insert of existing embedding ID: 2
Insert of existing embedding ID: 3
Insert of existing embedding ID: 4
Insert of existing embedding ID: 5
Insert of existing embedding ID: 6

In [47]:
collection.add(ids='1',documents="What is the best offer?")

Add of existing embedding ID: 1
Insert of existing embedding ID: 1

In [50]:
res = collection.query(query_texts="average price per quarter?", n_results=1)

In [52]:
collection.get()

{'ids': ['0', '1', '2', '3', '4', '5', '6'],
 'embeddings': None,
 'metadatas': [None, None, None, None, None, None, None],
 'documents': ['Calculate the total sales per country for Motorcycles.',
  'Find the average price each per quarter for the year 2003.',
  'Find orders with sales above the average sales.',
  'Retrieve orders along with contact information for the Motorcycles product line.',
  'Find the most expensive order for each customer.',
  'Calculate the total quantity ordered by city.',
  'Find orders placed between May 1, 2003, and August 31, 2003.'],
 'uris': None,
 'data': None}

In [51]:
res

{'ids': [['1']],
 'distances': [[0.5145776919043319]],
 'metadatas': [[None]],
 'embeddings': None,
 'documents': [['Find the average price each per quarter for the year 2003.']],
 'uris': None,
 'data': None}

In [54]:
examples['example_pairs'].append()

[{'nl_query': 'Calculate the total sales per country for Motorcycles.',
  'sql_query': "SELECT COUNTRY, SUM(SALES) AS Total_Sales FROM Sales WHERE PRODUCTLINE = 'Motorcycles' GROUP BY COUNTRY ORDER BY Total_Sales DESC;"},
 {'nl_query': 'Find the average price each per quarter for the year 2003.',
  'sql_query': 'SELECT QTR_ID, AVG(PRICEEACH) AS Avg_PriceEach FROM Sales WHERE YEAR_ID = 2003 GROUP BY QTR_ID ORDER BY QTR_ID;'},
 {'nl_query': 'Find orders with sales above the average sales.',
  'sql_query': 'SELECT ORDERNUMBER, SUM(SALES) FROM Sales WHERE SALES > (SELECT AVG(SALES) FROM Sales) GROUP BY ORDERNUMBER ORDER BY SALES DESC;'},
 {'nl_query': 'Retrieve orders along with contact information for the Motorcycles product line.',
  'sql_query': "SELECT ORDERNUMBER, QUANTITYORDERED, PRICEEACH, SALES, ORDERDATE, CONTACTLASTNAME, CONTACTFIRSTNAME, PHONE, ADDRESSLINE1, CITY, STATE, POSTALCODE, COUNTRY FROM Sales WHERE PRODUCTLINE = 'Motorcycles' ORDER BY ORDERDATE;"},
 {'nl_query': 'Find the most expensive order for each customer.',
  'sql_query': 'WITH CustomerOrders AS (SELECT CONTACTLASTNAME, CONTACTFIRSTNAME, ORDERNUMBER, SALES, ROW_NUMBER() OVER (PARTITION BY CONTACTLASTNAME, CONTACTFIRSTNAME ORDER BY SALES DESC) AS RowNum FROM Sales) SELECT CONTACTLASTNAME, CONTACTFIRSTNAME, ORDERNUMBER, SALES FROM CustomerOrders WHERE RowNum = 1 ORDER BY SALES DESC;'},
 {'nl_query': 'Calculate the total quantity ordered by city.',
  'sql_query': 'SELECT CITY, SUM(QUANTITYORDERED) AS Total_Quantity FROM Sales GROUP BY CITY ORDER BY Total_Quantity DESC;'},
 {'nl_query': 'Find orders placed between May 1, 2003, and August 31, 2003.',
  'sql_query': "SELECT ORDERNUMBER, QUANTITYORDERED, PRICEEACH, SALES, ORDERDATE, CONTACTLASTNAME, CONTACTFIRSTNAME FROM Sales WHERE ORDERDATE BETWEEN '2003-05-01' AND '2003-08-31' ORDER BY ORDERDATE;"}]

In [45]:
res['documents'][0][0]

'Calculate the total quantity ordered by city.'

In [44]:
examples['example_pairs'][int(res['ids'][0][0])]['sql_query']

'SELECT CITY, SUM(QUANTITYORDERED) AS Total_Quantity FROM Sales GROUP BY CITY ORDER BY Total_Quantity DESC;'